@use "typo";
@use "palette";

// Custom variables
:root {
    --color-text:var(--color-flexoki-light-tx);
    --color-bg: var(--color-flexoki-light-bg-2);
    --max-width: 720px;
    --color-muted-text:var(--color-flexoki-cyan-600);
}   

// Base styles
body {
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg); 
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}

// Links
a {
    color: inherit;
    text-decoration: underline;
    transition: opacity 0.2s;
  
    &:hover {
        color: var(--color-flexoki-cyan-600);
        text-decoration: underline;
    }
}

// Navigation
nav {
  a {
    margin-right: 1rem;
    
    &:last-of-type {
        margin-right: 0;
      }
  }
}

.contact-home {
    color: var(--color-flexoki-cyan-600);
}

// Custom utility classes
.text-gradient {
  background: linear-gradient(45deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

// Grid Layout
.site-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.site-layout {
  > header {
    grid-area: header;
  }

  > main {
      grid-area: main;
    }

  > footer {
    grid-area: footer;
  }
}
header, footer {
  padding: 1rem 0;
}

.disclaimer {
  color: var(--color-muted-text);
}
h2 {
  margin-bottom: 2.8rem;
}